.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .box-panel {
    min-height: 180px;
    padding: 10px;
    border: 1px solid #eeeeee;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .title-panel {
    text-align: center;
    background: #eeeeee;
    font-weight: 700;
  }
  .content-panel {
      margin-top: 5px;
  }
  .display-image {
    width: 100%;
    height: 132px;
  }
  .number_of_seats {
      font-weight: 600;
  }